@import '../../styles/mixins';
@import '../../styles/variables';

.input {
    @include focusable;
        
    border: 2px solid $color-secondary;
    border-radius: 0.3em;
    padding: 0.2em 0.5em;
}