@import '~styles/variables';

$size: 10em;
$size-running: 23em;
$stroke-width: 0.3em;
$stroke-width-thin: 0.25em;

@mixin thinning {
	transition: stroke-width 1s;
}

.clock {
	transition: height 1s, width 1s;
	position: relative;
	height: $size;
	width: $size;

	&--running {
		height: $size-running;
		width: $size-running;
	}

	&__label {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: top 1s;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2em;

		&--bottom {
			top: 80%;
		}
	}

	&__circle {
		fill: none;
		stroke: none;
	}

	&__path {
		@include thinning;
		stroke-width: $stroke-width;
		stroke: $color-secondary;

		&--thin {
			stroke-width: $stroke-width-thin;
		}
	}

	&__path-remaining {
		@include thinning;
		stroke-width: $stroke-width;
		stroke-linecap: round;
		transform-origin: center;
		transition: 1s linear all;
		stroke: $color-primary;
		transform: scale(-1, 1) rotate(90deg);

		&--thin {
			stroke-width: $stroke-width-thin;
		}
	}
}
